<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My personal web</title>
</head>
<body>
    <h1>My personal web</h1>
    <ul>
        <li><a href="/">Front Page</a></li>
        <li><a href="/about-me/">About me</a></li>
        <li><a href="/porfolio/">Porfolio</a></li>
        <li><a href="/contact/">Contanct</a></li>
    </ul>
    {% block content %} {% endblock %}
</body>
</html>